* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #ececec;
  font-family: "Josefin Slab";
  scroll-behavior: smooth;
  line-height: 1.5rem;
}
header {
  margin-bottom: 25px;
}
.headerBackground {
  width: 100%;
  height: 50px;
  background-color: #ae7753;
}

.headerInfo {
  width: 100%;
  background-color: #25282e;
  color: #c7c8c9;
}

.headerTitle-info h1 {
  padding: 40px 10px 10px 10px;
  text-align: center;
}

.headerTitle-info p {
  padding: 15px;
  text-align: justify;
}

.headerVideo {
  width: 100%;
  padding: 15px;
}

.headerVideo video {
  width: 100%;
}
/*section*/
.sectionInfo {
  margin-bottom: 45px;
}

.sectionInfo img {
  width: 100%;
}

.sectionInfo:hover {
  transform: rotate(5deg);
}

.sectionInfo-name {
  text-align: center;
  background-color: #25282e;
  color: #c7c8c9;
  margin-top: -7px;
  padding: 15px;
}

.sectionInfo-name h2 {
  margin-bottom: 15px;
}

/*footer*/
footer {
  height: 100px;

  background-color: #25282e;
  color: #c7c8c9;
  text-align: center;
  padding-top: 40px;
}

/* tablet */
@media (min-width: 768px) {
  .headerInfo {
    display: grid;
    grid-template-columns: 42% 58%;
    grid-template-rows: 1fr;

    padding: 35px;
  }

  .headerVideo video {
    height: 95%;
  }
  /*section*/
  section#displaySectionInfo {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 40px;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 50px;
  }

  .sectionInfo {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    margin-bottom: 25px;
  }

  .sectionInfo img {
    width: 100%;
    height: auto;
  }
  .sectionInfo-name {
    margin-top: 0px;
    padding: 0;
  }
  .sectionInfo-name h2 {
    margin-bottom: 10px;
    font-size: 23px;
    padding-top: 25px;
  }
}

/* desktop */
@media (min-width: 992px) {
  .headerVideo video {
    padding-top: 3%;
  }

  section#displaySectionInfo {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 40px;

    max-width: 80%;
    margin-left: 10%;
  }
  .sectionInfo-name h2 {
    font-size: 20px;
  }
}

@media (min-width: 1439px) {
  .headerInfo {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .headerVideo video {
    height: 100%;
  }
  .headerTitle-info {
    font-size: 24px;
    line-height: initial;
  }
  .sectionInfo-name h2 {
    font-size: 29px;
  }
  .sectionInfo-name p {
    font-size: 20px;
  }
}

@media (min-width: 2559px) {
  .headerTitle-info {
    font-size: 46px;
  }
  .sectionInfo-name h2 {
    font-size: 50px;
    margin-top: 40px;
  }
  .sectionInfo-name p {
    font-size: 35px;
    padding-top: 28px;
  }
}
